# Created by .ignore support plugin (hsz.mobi)
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/
*.js.map
*.ts
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
test/
.eslintrc
.prettierrc
.nvm
.travis.yml
LICENSE
README.md
package-lock.json
tsconfig.json
tslint.json
.nvm